<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.14.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{{ search }}-movlabs</title>
</head>
<body>
    <div class="hero min-h-screen bg-base-200" id="app">
        <div class="hero-content text-center">
            <div class="max-w-full">
                {% if sflix or bflix or movierulz %}
                    <h1>search results for {{ search }}</h1>
                {% endif %}
                {% if sflix %}
                    <h2 class="text-4xl font-bold">sflix</h2>
                    <ul>
                        {% for i in sflix %}
                            <li><a href={{ i }}>{{ i }}</a></li>
                        {% endfor %}    
                    </ul>
                {% endif %}
                {% if bflix %}
                    <h2 class="text-4xl font-bold">bflix</h2>
                    <ul>
                        {% for i in bflix %}
                            <li><a href={{ i }}>{{ i }}</a></li>
                        {% endfor %}    
                    </ul>
                {% endif %}
                {% if movierulz %}
                    <h2 class="text-4xl font-bold">moviesrulz</h2>
                    <ul>
                        {% for i in movierulz %}
                            <li><a href={{ i }}>{{ i }}</a></li>
                        {% endfor %}    
                    </ul>
                {% endif %}
                {% if not bflix and not sflix and not movierulz %}
                    <h2>None Found with  {{ search }}</h2>
                {% endif %}
                <button class="btn btn-primary" v-on:click="home">Back</button>
            </div>
        </div>
    </div>    
    <footer class="footer footer-center p-4 bg-base-300 text-base-content">
        <div>
          <p>Copyright © 2022 - All right reserved by Kausthubh Nandimandalam</p>
        </div>
    </footer>
</body>
<script src="{{ url_for('static', path='/main.js') }}"></script>
</html>